
<!DOCTYPE html>
<HTML>
	<HEAD>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<link rel="stylesheet" href="/static/css/homePage.css">
		
		<!-- JQuary -->
		<script src="/static/js/jquery-1.11.3.min.js"></script>
		<script src="/static/js/jquery-ui.min.js"></script>
		<script src="/static/js/homePage.js"></script>
		
		<!-- font CSS -->
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/earlyaccess/cwtexyen.css' rel='stylesheet' type='text/css' />
		<!-- icon CSS -->
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/OTaipei_icon.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<title>OTaipei Homepage| Life Quality</title>
	</HEAD>
	<BODY>

		<div id="team_bar">

		</div>
		<div id="menu_bar">
			<div id="logo_bar">
				<div id="logo_icon">
					<img src="/static/images/OTaipei_logo.png">








				</div>
				<div id="logo_name">

					<p style="Font-family:'cwTeXYen', sans-serif;">| Life Quality</p>
				</div>
			</div>
<!-- style="Font-family:'cwTeXYen', sans-serif;font-size:24px;" -->
			<div id="slogan_bar">
				<p style="Font-family:'cwTeXYen', sans-serif;font-size:24px;">台 北 ， 讓 我 們 活 好 住 滿 。</p>
				<!-- <p>生 活 ， 讓 每 一 分 都 有 感 。</p> -->
			</div>
		</div>
		<div id="button_bar">
			<div id="in_btn" onclick="javascript:location.href='/nonrelblog/mainPage'">Enter</div>
		</div>
	</BODY>
</HTML>